@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

body {
    background-image: url(https://usagif.com/wp-content/uploads/gifs/raining-money-5.gif); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}  

video {
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    z-index: -1;
  }
  
header {
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

header h1 {
    padding: 20px 0 0 10px;
    color: rgb(53, 53, 233);
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Fredoka One', cursive;
}

.titulo img {
    width: 100px;
    height: 100px;
    position: absolute;
    padding: 10px;
    left: 380px;
    top: 5px;
    border: solid 1px white;
    border-radius: 50%;
    float: left;
}

.enunciado {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 800px;
    height: 350px;
    font-weight: bolder;
    top: 20%;
    left: 1%;
}

header h2 {
    padding: 1px 5px 0 0;
    font-size: 2.3em;
    color: black;
    text-shadow: white 0.1em 0.1em 0.2em;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 50%;
    max-width: 600px;
    height: 350px;
    font-size: 1.5em;
    border: 2px white;
    border-style: groove;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.753);
    top: 40%;
    left: 10%;
    line-height: 2.5em;
    color: white;
}

ul {
    padding-top: 18px;
    padding-left: 30px;
    list-style-type: none;
}

ul li {
    padding-left: 2.5em;
    background-image: url(../images/dinero.gif);
    background-position: 0;
    background-size: 1.2em 1.2em;
    background-repeat: no-repeat;
}

.suscripcion {
    width: 50%;
    max-width: 400px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 40px 30px;
    border-color: white;
    border-style: groove;

}

.suscripcion img {
    width: 180px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: calc(39% - 50px);
    border-radius: 50%;
    border: solid black 1px;
}

.suscripcion h1 {
    color: white;
    text-decoration-line: underline;
    text-align: center;
    padding-bottom: 25px;
    font-size: 1.2em;
    padding-top: 15%;
}

.suscripcion label {
    font-weight: bold;
    display: block;
}

label #calculo{
    font-size: 100%;
}

.suscripcion input {
    width: 100%;
    margin-bottom: 20px;

}

.suscripcion input[type="text"],
.suscripcion input[type="email"],
.suscripcion input[type="tel"] {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 40px;
}

.suscripcion input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 1.5em;
    background-color: red;
    border-radius: 15px;
}

.suscripcion input[type="button"]:hover,
.suscripcion input[type="button"]:focus {
    background-color: lightblue;
    color: black;
    text-shadow: 1px 0px 1px white, 0px 1px 1px white, 2px 1px 1px white, 1px 2px 1px white, 3px 2px 1px white, 2px 3px 1px white, 4px 3px 1px white, 3px 4px 1px white, 5px 4px 1px white, 4px 5px 1px white, 6px 5px 1px white, 5px 6px 1px white, 7px 6px 1px white;
    cursor: pointer;
}

.suscripcion .blanco {
    color: antiquewhite;
}

@media(max-width: 1290px) {
    .enunciado {
        width: 50%;

    }
}

@media(max-width: 1055px) {
    .lista {
        width: 98%;
        max-width: 300px;
        font-size: 1em;
    }

    .suscripcion {
        width: 98%;
        max-width: 300px;
    }
}

@media(max-width: 944px) {
    .enunciado {
        font-size: 0.7em;
    }
}

@media(max-width: 660px) {
    .lista {
        position: static;
        display: block;
        margin: 160px;
        }

    .suscripcion {
        position: static;
        display: block;
        margin: 300px;

    }
    .suscripcion img{
        width: 150px;
        height: 130px;
    }

}
@media (max-width: 500px){
    header h1{
        font-size: 2em;
    }
    .titulo img{
        width: 70px;
    height: 70px;
    left: 200px;
    }
    .lista {
        width: 55%;
        height: 380px;
        margin-left: 20px;
        }

    .suscripcion {
        width: 50%;
        margin-left: 150px;
    }
    .enunciado {
        font-size: 0.5em;
    }
    .suscripcion input[type="button"] {
        height: 20px;
        font-size: 0.9em;
    }
    .suscripcion img{
        width: 100px;
        height: 100px;
        top: -40px;
    left: calc(50% - 50px);

    }

}
